@model OpsSecProject.Areas.Internal.Models.TwoFactorChooseFormModel
@{
    ViewData["Title"] = "2 Factor Authentication";
}
<form class="form-signin needs-validation" asp-action="Choose2ndFactor" novalidate>
    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Verify Your Identity</h1>
        <p>Choose an method to verify your identity</p>
    </div>
    @if (!String.IsNullOrEmpty(Convert.ToString(ViewData["Alert"])) && ViewData["Alert"].Equals("Warning") && !String.IsNullOrEmpty(Convert.ToString(ViewData["Message"])))
    {
        <div class="form-group">
            <div class="alert alert-warning" role="alert">
                @ViewData["Message"]
            </div>

        </div>
    }
    @if (!String.IsNullOrEmpty(Convert.ToString(ViewData["Alert"])) && ViewData["Alert"].Equals("Danger") && !String.IsNullOrEmpty(Convert.ToString(ViewData["Message"])))
    {
        <div class="form-group">
            <div class="alert alert-danger" role="alert">
                @ViewData["Message"]
            </div>

        </div>
    }
    <div class="form-group">
        <input asp-for="Username" type="hidden" value="@TempData["Identity"]" required />
    </div>
    <div class="form-group">
        <input asp-for="ReturnUrl" type="hidden" value="@TempData["ReturnUrl"]" />
    </div>
    <div class="form-group text-center">
        @foreach (var option in Model.Methods)
        {
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" asp-for="Method" value="@option" id="@option" class="custom-control-input" required>
                <label class="custom-control-label" for="@option">@option</label>
            </div>
        }
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" id="formBtnSubmit">Verify Me</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2020 - SmartInsights</p>
</form>