@model OpsSecProject.Areas.Internal.Models.LoginFormModel
@{
    ViewData["Title"] = "Login";
}
<form class="form-signin needs-validation" asp-action="SignIn" novalidate>
    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Welcome back, @ViewData["Username"]!</h1>
        <p>Please enter your Password</p>
    </div>
    @if (!String.IsNullOrEmpty(Convert.ToString(ViewData["Alert"])) && ViewData["Alert"].Equals("Warning") && !String.IsNullOrEmpty(Convert.ToString(ViewData["Message"])))
    {
        <div class="form-group">
            <div class="alert alert-warning" role="alert">
                @ViewData["Message"]
            </div>

        </div>
    }
    @if (!String.IsNullOrEmpty(Convert.ToString(ViewData["Alert"])) && ViewData["Alert"].Equals("Danger") && !String.IsNullOrEmpty(Convert.ToString(ViewData["Message"])))
    {
        <div class="form-group">
            <div class="alert alert-danger" role="alert">
                @ViewData["Message"]
            </div>

        </div>
    }
    <div class="form-group">
        @if (!String.IsNullOrEmpty(Convert.ToString(ViewData["ReturnURL"])))
        {
            <input asp-for="ReturnUrl" type="hidden" value="@ViewData["ReturnURL"]" />
        }
        @if (String.IsNullOrEmpty(Convert.ToString(ViewData["ReturnURL"])))
        {
            <input asp-for="ReturnUrl" type="hidden" />
        }
    </div>
    <div class="form-group">
        @if (!String.IsNullOrEmpty(Convert.ToString(ViewData["Username"])))
        {
            <input asp-for="Username" type="hidden" value="@ViewData["Username"]" />
        }
        @if (String.IsNullOrEmpty(Convert.ToString(ViewData["Username"])))
        {
            <input asp-for="Username" type="hidden" />
        }
    </div>
    <div class="form-group">
        <input asp-for="Password" class="form-control form-control-user" placeholder="Password" required />
        <div class="invalid-feedback">
            Please enter your password
        </div>
    </div>
    <button class="btn btn-lg btn-primary btn-block g-recaptcha" data-sitekey="@System.Environment.GetEnvironmentVariable("RECAPTCHAV3_SITE_KEY")" data-callback='reCaptchaCallback' type="submit" id="formBtnSubmit">Sign in</button>
    <div class="text-center mb-4">
        <hr>
    </div>
    <a class="btn btn-lg btn-secondary btn-block" asp-action="ForgetPassword" asp-route-ReturnUrl="@ViewData["ReturnURL"]">Forget Password?</a>
    <p class="mt-5 mb-3 text-muted">&copy; 2020 - SmartInsights</p>
</form>