@model OpsSecProject.ViewModels.StreamingOverrallViewModel
@{
    ViewData["Title"] = "SSH Logs";
}

<h1 class="h3 mb-2 text-gray-800">SSH Logs Overview</h1>
<p class="mb-4"></p>



<div class="row">


    <!-- Donut/Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Sample Pie Chart 1</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-pie pt-4">
                    <canvas id="LoginAttempts"></canvas>
                </div>
                <hr>
                Details of the various sample.
            </div>
        </div>
    </div>

    <!-- Bar Chart -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Login Attempts</h6>
        </div>
        <div class="card-body">
            <div class="chart-bar">
                <canvas id="httpBarChart"></canvas>
            </div>
            <hr>
            Details of Login Attempts.
        </div>
    </div>


</div>


<div class="
     shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">SSH Logs Details</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="sshtable" class="table">
                <thead>
                    <tr>
                        <th scope="col">Weekday</th>
                        <th scope="col">Month</th>
                        <th scope="col">Day</th>
                        <th scope="col">Year</th>
                        <th scope="col">Time</th>
                        <th scope="col">Host</th>
                        <th scope="col">Process</th>
                        <th scope="col">Identifier</th>
                        <th scope="col">Message</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var log in Model.SSHresults)
                    {
                        <tr>
                            <th scope="row">@log.weekday</th>
                            <td>@log.month</td>
                            <td>@log.day</td>
                            <td>@log.year</td>
                            <td>@log.time</td>
                            <td>@log.host</td>
                            <td>@log.process</td>
                            <td>@log.identifier</td>
                            <td>@log.message</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



@section scripts {
    <script>
        function Handler(event) {
            $('#sshtable').DataTable();

            //Charts Below

            // var data from db for chart
            var xa = @Html.Raw(ViewBag.xAxisJ);
            var ya = @Html.Raw(ViewBag.yAxisJ);

            // Set new default font family and font color to mimic Bootstrap's default styling
            Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
            Chart.defaults.global.defaultFontColor = '#858796';

            // Pie Chart Example
            var ctx = document.getElementById("LoginAttempts");
            var LoginAttempts = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: ['Server', '#Accepted', '#Failed'],
                    datasets: [{
                        data: ['20', '30', '50'],
                        backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc'],
                        hoverBackgroundColor: ['#2e59d9', '#17a673', '#2c9faf'],
                        hoverBorderColor: "rgba(234, 236, 244, 1)",
                    }],
                },
                options: {
                    maintainAspectRatio: false,
                    tooltips: {
                        backgroundColor: "rgb(255,255,255)",
                        bodyFontColor: "#858796",
                        borderColor: '#dddfeb',
                        borderWidth: 1,
                        xPadding: 15,
                        yPadding: 15,
                        displayColors: false,
                        caretPadding: 10,
                    },
                    legend: {
                        display: false
                    },
                    cutoutPercentage: 80,
                },
            });


            // Bar Chart Example
            var ctx = document.getElementById("httpBarChart");
            var httpBarChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    
                    labels: ["January", "December"],
                    //labels: responseCode,
                    datasets: [{
                        label: "Attempts",
                        backgroundColor: "#4e73df",
                        hoverBackgroundColor: "#2e59d9",
                        borderColor: "#4e73df",
                        data: [30, 40]
                        //data: count,
                   
                    }],
                },
                options: {
                    maintainAspectRatio: false,
                    layout: {
                        padding: {
                            left: 10,
                            right: 25,
                            top: 25,
                            bottom: 0
                        }
                    },
                    scales: {
                        xAxes: [{
                            time: {
                                unit: 'Status Code'
                            },
                            gridLines: {
                                display: false,
                                drawBorder: false
                            },
                            ticks: {
                                maxTicksLimit: 6
                            },
                            maxBarThickness: 25,
                        }],
                        yAxes: [{
                            ticks: {
                                min: 0,
                                max: 10000,
                                maxTicksLimit: 5,
                                padding: 100,

                                callback: function (value, index, values) {
                                    return number_format(value);
                                }
                            },
                            gridLines: {
                                color: "rgb(234, 236, 244)",
                                zeroLineColor: "rgb(234, 236, 244)",
                                drawBorder: false,
                                borderDash: [2],
                                zeroLineBorderDash: [2]
                            }
                        }],
                    },
                    legend: {
                        display: false
                    },
                    tooltips: {
                        titleMarginBottom: 10,
                        titleFontColor: '#6e707e',
                        titleFontSize: 14,
                        backgroundColor: "rgb(255,255,255)",
                        bodyFontColor: "#858796",
                        borderColor: '#dddfeb',
                        borderWidth: 1,
                        xPadding: 15,
                        yPadding: 15,
                        displayColors: false,
                        caretPadding: 10,
                        callbacks: {
                            label: function (tooltipItem, chart) {
                                var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                                return datasetLabel + ': ' + number_format(tooltipItem.yLabel);
                            }
                        }
                    },
                }

            });


        }
        (function () {
            'use strict';
            if (Turbolinks.supported) {
                document.addEventListener('turbolinks:load', Handler, false);
            } else {
                $(document).ready(Handler);
            }
        })();
    </script>
}

