@model IEnumerable<OpsSecProject.Models.WindowsSecurityLog>
@{
    ViewData["Title"] = "Windows Security Logs";
}

<h1 class="h3 mb-2 text-gray-800">Windows Security Logs</h1>
<p class="mb-4"></p>

<div class="
     shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Windows Security Logs Details</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="windowstable" class="table">
                <thead>
                    <tr>
                        <th scope="col">Event ID</th>
                        <th scope="col">Description</th>
                        <th scope="col">Level Display Name</th>
                        <th scope="col">Logname</th>
                        <th scope="col">Machine Name</th>
                        <th scope="col">Provider Name</th>
                        <th scope="col">TIme Created</th>
                        <th scope="col">Index</th>
                        <th scope="col">Username</th>
                        <th scope="col">Keywords</th>
                        <th scope="col">Event Data</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var log in Model)
                    {
                        <tr>
                            <th scope="row">@log.eventid</th>
                            <td>@log.description</td>
                            <td>@log.leveldisplayname</td>
                            <td>@log.logname</td>
                            <td>@log.machinename</td>
                            <td>@log.providername</td>
                            <td>@log.timecreated</td>
                            <td>@log.index</td>
                            <td>@log.username</td>
                            <td>@log.keywords</td>
                            <td>@log.eventdata</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="row">


    <!-- Donut/Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Sample Pie Chart 1</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-pie pt-4">
                    <canvas id="httpPieChart"></canvas>
                </div>
                <hr>
                Details of the various sample.
            </div>
        </div>
    </div>

    <!-- Bar Chart -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Sample Bar Chart 1</h6>
        </div>
        <div class="card-body">
            <div class="chart-bar">
                <canvas id="httpBarChart"></canvas>
            </div>
            <hr>
            Details of sample.
        </div>
    </div>


</div>


@section scripts {
    <script>
        function Handler(event) {
            $('#windowstable').DataTable();
        }

        (function () {
            'use strict';
            if (Turbolinks.supported) {
                document.addEventListener('turbolinks:load', Handler, false);
            } else {
                $(document).ready(Handler);
            }
        })();
    </script>
}

