@model OpsSecProject.ViewModels.StreamingOverrallViewModel
@{
    ViewData["Title"] = "View Logs";
}
@if (!String.IsNullOrEmpty(Convert.ToString(TempData["Alert"])) && TempData["Alert"].Equals("Warning") && !String.IsNullOrEmpty(Convert.ToString(TempData["Message"])))
{
    <div class="form-label-group">
        <div class="alert alert-warning" role="alert">
            @TempData["Message"]
        </div>

    </div>
}
@if (!String.IsNullOrEmpty(Convert.ToString(TempData["Alert"])) && TempData["Alert"].Equals("Danger") && !String.IsNullOrEmpty(Convert.ToString(TempData["Message"])))
{
    <div class="form-label-group">
        <div class="alert alert-danger" role="alert">
            @TempData["Message"]
        </div>

    </div>
}
@if (!String.IsNullOrEmpty(Convert.ToString(TempData["Alert"])) && TempData["Alert"].Equals("Success") && !String.IsNullOrEmpty(Convert.ToString(TempData["Message"])))
{
    <div class="form-label-group">
        <div class="alert alert-success" role="alert">
            @TempData["Message"]
        </div>

    </div>
}
<h1 class="h3 mb-2 text-gray-800">View Log Data</h1>
<p class="mb-4"></p>
<div class="shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@Model.input.Name</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="logsTable" class="table">
                @if (Model.input.LogInputCategory.Equals(LogInputCategory.ApacheWebServer))
                {
                    <thead>
                        <tr>
                            <th scope="col">DateTime</th>
                            <th scope="col">Host</th>
                            <th scope="col">Ident</th>
                            <th scope="col">AuthUser</th>
                            <th scope="col">Request</th>
                            <th scope="col">Response</th>
                            <th scope="col">Bytes</th>
                            <th scope="col">Referer</th>
                            <th scope="col">Agent</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var log in Model.webLogs)
                        {
                            <tr>
                                <th scope="row">@log.datetime</th>
                                <td>@log.host</td>
                                <td>@log.ident</td>
                                <td>@log.authuser</td>
                                <td>@log.request</td>
                                <td>@log.response</td>
                                <td>@log.bytes</td>
                                <td>@log.referer</td>
                                <td>@log.agent</td>
                                @if (Model.sagemakerConsolidatedEntity == null)
                                {
                                    <td></td>
                                }
                                @if (Model.sagemakerConsolidatedEntity != null)
                                {
                                    <td>
                                        <form asp-action="Predict">
                                            <input type="hidden" id="eventData" name="eventData" value="@log.host|@log.ident|@log.authuser|@log.request|R:@log.response|@log.bytes|@log.referer|@log.agent" required />
                                            <input type="hidden" id="SageMakerID" name="SageMakerID" value="@Model.sagemakerConsolidatedEntity.ID" required />
                                            <button type="submit" class="btn btn-primary formBtnSubmit">Get Inference from ML</button>
                                        </form>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                }

            </table>
        </div>
    </div>
</div>
@section scripts {
    <script>
        function Handler(event) {
            $('#logsTable').DataTable();
        }
        (function () {
            'use strict';
            if (Turbolinks.supported) {
                document.addEventListener('turbolinks:load', Handler, false);
            } else {
                $(document).ready(Handler);
            }
        })();
    </script>
}
