@model OpsSecProject.Models.Trigger
@{
    ViewData["Title"] = "Create a alert trigger";
}
@if (!String.IsNullOrEmpty(Convert.ToString(ViewData["Alert"])) && ViewData["Alert"].Equals("Danger") && !String.IsNullOrEmpty(Convert.ToString(ViewData["Message"])))
{
    <div class="form-label-group">
        <div class="alert alert-danger" role="alert">
            @ViewData["Message"]
        </div>

    </div>
}
@if (!String.IsNullOrEmpty(Convert.ToString(ViewData["Alert"])) && ViewData["Alert"].Equals("Warning") && !String.IsNullOrEmpty(Convert.ToString(ViewData["Message"])))
{
    <div class="form-label-group">
        <div class="alert alert-warning" role="alert">
            @ViewData["Message"]
        </div>

    </div>
}
<h1 class="h3 mb-2 text-gray-800">Create Alert Trigger</h1>
<p class="mb-4"></p>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Alert Trigger Details</h6>
    </div>
    <div class="card-body">
        <form asp-action="Create" class="needs-validation" novalidate>
            <div class="form-group">
                <label asp-for="Name">Name of Alert</label>
                <input asp-for="Name" class="form-control" required />
            </div>
            <div class="form-group text-center">
                <h6 class="mb-3">Trigger Type:</h6>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" asp-for="AlertTriggerType" id="TCT" value="@AlertTriggerType.CountByTimeStamp" class="custom-control-input" required onclick="$('.ips-field-selection').hide();">
                    <label class="custom-control-label" for="TCT">Event Count by Time and Date (Per Minute)</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" asp-for="AlertTriggerType" id="TCA" value="@AlertTriggerType.CountAlone" class="custom-control-input" required onclick="$('.ips-field-selection').hide();">
                    <label class="custom-control-label" for="TCA">Event Count Only</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" asp-for="AlertTriggerType" id="MLIPInsights" value="@AlertTriggerType.IPInsights" class="custom-control-input" required onclick="$('.ips-field-selection').show();">
                    <label class="custom-control-label" for="MLIPInsights">Anomaly detection based on IP Addresses and User Names</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" asp-for="AlertTriggerType" id="MLRCF" value="@AlertTriggerType.RCF" class="custom-control-input" required onclick="$('.ips-field-selection').hide();">
                    <label class="custom-control-label" for="MLRCF">Anomaly detection based on Event Count</label>
                </div>
            </div>
            <div class="form-group ips-field-selection" style="display:none;">
                <label asp-for="UserField">Select field that contains the Identity</label>
                <select asp-for="UserField" class="custom-select" required>
                    @foreach (var field in ViewBag.fields)
                    {
                        <option value="@field">@field</option>
                    }
                </select>
            </div>
            <div class="form-group ips-field-selection" style="display:none;">
                <label asp-for="IPAddressField">Select field that contains the IP address</label>
                <select asp-for="IPAddressField" class="custom-select" required>
                    @foreach (var field in ViewBag.fields)
                    {
                        <option value="@field">@field</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CondtionalField">Select field that used to determine what events should be used</label>
                <select asp-for="CondtionalField" class="custom-select" required>
                    @foreach (var field in ViewBag.fields)
                    {
                        <option value="@field">@field</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CondtionType">Select the condition type</label>
                <select asp-for="CondtionType" class="custom-select" required>
                    <option value="LessThan">Less Than</option>
                    <option value="LessOrEqualThan">Less Than</option>
                    <option value="Equal">Equal</option>
                    <option value="NotEqual">Not Equal</option>
                    <option value="Like">Similar</option>
                    <option value="NotLike">Not Similar</option>
                    <option value="MoreThan">More Than</option>
                    <option value="MoreOrEqualThan">More Or Equal Than</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Condtion">Specify the condtion used to determine what events should be used</label>
                <input class="form-control" asp-for="Condtion" required />
            </div>
            <div class="form-group">
                <input class="form-control" asp-for="LinkedLogInputID" value="@ViewData["LogInputID"]" type="hidden" />
            </div>
            <button type="submit" class="btn btn-primary formBtnSubmit">Create Alert Trigger</button>
        </form>
    </div>
</div>