@model OpsSecProject.Models.Trigger
@{
    ViewData["Title"] = "Edit alert trigger";
}
@if (!String.IsNullOrEmpty(Convert.ToString(ViewData["Alert"])) && ViewData["Alert"].Equals("Danger") && !String.IsNullOrEmpty(Convert.ToString(ViewData["Message"])))
{
    <div class="form-label-group">
        <div class="alert alert-danger" role="alert">
            @ViewData["Message"]
        </div>

    </div>
}
@if (!String.IsNullOrEmpty(Convert.ToString(ViewData["Alert"])) && ViewData["Alert"].Equals("Warning") && !String.IsNullOrEmpty(Convert.ToString(ViewData["Message"])))
{
    <div class="form-label-group">
        <div class="alert alert-warning" role="alert">
            @ViewData["Message"]
        </div>

    </div>
}
<h1 class="h3 mb-2 text-gray-800">Edit Alert Trigger</h1>
<p class="mb-4"></p>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@Model.Name Details</h6>
    </div>
    <div class="card-body">
        <form asp-action="Create" class="needs-validation" novalidate>
            <div class="form-group">
                <label asp-for="Name">Name of Alert</label>
                <input asp-for="Name" class="form-control" value="@Model.Name" required />
            </div>
            <!--
    <div class="form-group text-center">
        <h6 class="mb-3">Trigger Type:</h6>
        @if (Model.AlertTriggerType.Equals(AlertTriggerType.CountByTimeStamp))
        {
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" asp-for="AlertTriggerType" id="TCT" value="@AlertTriggerType.CountByTimeStamp" class="custom-control-input" checked required>
                <label class="custom-control-label" for="TCT">Event Count by Time and Date (Per Minute)</label>
            </div>
        }
        @if (!Model.AlertTriggerType.Equals(AlertTriggerType.CountByTimeStamp))
        {
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" asp-for="AlertTriggerType" id="TCT" value="@AlertTriggerType.CountByTimeStamp" class="custom-control-input" required>
                <label class="custom-control-label" for="TCT">Event Count by Time and Date (Per Minute)</label>
            </div>
        }
        @if (Model.AlertTriggerType.Equals(AlertTriggerType.CountAlone))
        {
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" asp-for="AlertTriggerType" id="TCA" value="@AlertTriggerType.CountAlone" class="custom-control-input" checked required>
                <label class="custom-control-label" for="TCA">Event Count Only</label>
            </div>
        }
        @if (!Model.AlertTriggerType.Equals(AlertTriggerType.CountAlone))
        {
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" asp-for="AlertTriggerType" id="TCA" value="@AlertTriggerType.CountAlone" class="custom-control-input" required>
                <label class="custom-control-label" for="TCA">Event Count Only</label>
            </div>
        }
    </div>
        -->
            <div class="form-group">
                <label asp-for="CondtionalField">Select field that used to determine what events should be used</label>
                <select asp-for="CondtionalField" class="custom-select" required>
                    @foreach (var field in ViewBag.fields)
                    {
                        @if (Model.CondtionalField.Equals(field))
                        {
                            <option value="@field" selected>@field</option>
                        }
                        <option value="@field">@field</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CondtionType">Select the condition type</label>
                <select asp-for="CondtionType" class="custom-select" required>
                    @if (Model.CondtionType.Equals("LessThan"))
                    {
                        <option value="LessThan">Less Than</option>
                    }
                    @if (!Model.CondtionType.Equals("LessThan"))
                    {
                        <option value="LessThan">Less Than</option>
                    }
                    @if (Model.CondtionType.Equals("LessOrEqualThan"))
                    {
                        <option value="LessOrEqualThan">Less Than</option>
                    }
                    @if (!Model.CondtionType.Equals("LessOrEqualThan"))
                    {
                        <option value="LessOrEqualThan">Less Than</option>
                    }
                    @if (Model.CondtionType.Equals("Equal"))
                    {
                        <option value="Equal">Equal</option>
                    }
                    @if (!Model.CondtionType.Equals("Equal"))
                    {
                        <option value="Equal">Equal</option>
                    }
                    @if (Model.CondtionType.Equals("NotEqual"))
                    {
                        <option value="NotEqual">Not Equal</option>
                    }
                    @if (!Model.CondtionType.Equals("NotEqual"))
                    {
                        <option value="NotEqual">Not Equal</option>
                    }
                    @if (Model.CondtionType.Equals("Like"))
                    {
                        <option value="Like">Similar</option>
                    }
                    @if (!Model.CondtionType.Equals("Like"))
                    {
                        <option value="Like">Similar</option>
                    }
                    @if (Model.CondtionType.Equals("NotLike"))
                    {
                        <option value="NotLike">Not Similar</option>
                    }
                    @if (!Model.CondtionType.Equals("NotLike"))
                    {
                        <option value="NotLike">Not Similar</option>
                    }
                    @if (Model.CondtionType.Equals("MoreThan"))
                    {
                        <option value="MoreThan">More Than</option>
                    }
                    @if (!Model.CondtionType.Equals("MoreThan"))
                    {
                        <option value="MoreThan">More Than</option>
                    }
                    @if (Model.CondtionType.Equals("MoreOrEqualThan"))
                    {
                        <option value="MoreOrEqualThan">More Or Equal Than</option>
                    }
                    @if (!Model.CondtionType.Equals("MoreOrEqualThan"))
                    {
                        <option value="MoreOrEqualThan">More Or Equal Than</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Condtion">Specify the condtion used to determine what events should be used</label>
                <input class="form-control" asp-for="Condtion" value="@Model.Condtion" required />
            </div>
            <div class="form-group">
                <label asp-for="CountType">Select the count condition type</label>
                <select asp-for="CountType" class="custom-select" required>
                    @if (Model.CountType.Equals("LessThan"))
                    {
                        <option value="LessThan">Less Than</option>
                    }
                    @if (!Model.CountType.Equals("LessThan"))
                    {
                        <option value="LessThan">Less Than</option>
                    }
                    @if (Model.CountType.Equals("LessOrEqualThan"))
                    {
                        <option value="LessOrEqualThan">Less Than</option>
                    }
                    @if (!Model.CountType.Equals("LessOrEqualThan"))
                    {
                        <option value="LessOrEqualThan">Less Than</option>
                    }
                    @if (Model.CountType.Equals("Equal"))
                    {
                        <option value="Equal">Equal</option>
                    }
                    @if (!Model.CountType.Equals("Equal"))
                    {
                        <option value="Equal">Equal</option>
                    }
                    @if (Model.CountType.Equals("NotEqual"))
                    {
                        <option value="NotEqual">Not Equal</option>
                    }
                    @if (!Model.CountType.Equals("NotEqual"))
                    {
                        <option value="NotEqual">Not Equal</option>
                    }
                    @if (Model.CountType.Equals("MoreThan"))
                    {
                        <option value="MoreThan">More Than</option>
                    }
                    @if (!Model.CountType.Equals("MoreThan"))
                    {
                        <option value="MoreThan">More Than</option>
                    }
                    @if (Model.CountType.Equals("MoreOrEqualThan"))
                    {
                        <option value="MoreOrEqualThan">More Or Equal Than</option>
                    }
                    @if (!Model.CountType.Equals("MoreOrEqualThan"))
                    {
                        <option value="MoreOrEqualThan">More Or Equal Than</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Count">Specify the number of events before this alert is triggered</label>
                <input class="form-control" asp-for="Count" value="@Model.Count" required type="number"/>
            </div>
            <button type="submit" class="btn btn-primary formBtnSubmit">Edit Alert Trigger</button>
        </form>
    </div>
</div>