@model OpsSecProject.ViewModels.AlertsViewModel
@{
    ViewData["Title"] = "Alerts";
}
@if (!String.IsNullOrEmpty(Convert.ToString(TempData["Alert"])) && TempData["Alert"].Equals("Warning") && !String.IsNullOrEmpty(Convert.ToString(TempData["Message"])))
{
    <div class="form-label-group">
        <div class="alert alert-warning" role="alert">
            @TempData["Message"]
        </div>

    </div>
}
@if (!String.IsNullOrEmpty(Convert.ToString(TempData["Alert"])) && TempData["Alert"].Equals("Danger") && !String.IsNullOrEmpty(Convert.ToString(TempData["Message"])))
{
    <div class="form-label-group">
        <div class="alert alert-danger" role="alert">
            @TempData["Message"]
        </div>

    </div>
}
@if (!String.IsNullOrEmpty(Convert.ToString(TempData["Alert"])) && TempData["Alert"].Equals("Success") && !String.IsNullOrEmpty(Convert.ToString(TempData["Message"])))
{
    <div class="form-label-group">
        <div class="alert alert-success" role="alert">
            @TempData["Message"]
        </div>

    </div>
}
@if (Model.allAlerts.Count() != 0)
{
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Alerts</h1>
    </div>
    <div class="row">
        <div class="col-4 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Status Update Alerts</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.successAlerts</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-check fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Informational Alerts</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.informationalAlerts</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-info fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Alerts that Needs Attention</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.warningAlerts</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-exclamation fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">All of your Alerts</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="alertsTable" class="table">
                    <thead>
                        <tr>
                            <th scope="col">Timestamp</th>
                            <th scope="col">Alert Type</th>
                            <th scope="col">Message</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var alert in Model.allAlerts)
                        {
                            @if (alert.Read == false)
                            {
                                <tr>
                                    <th scope="row">@alert.TimeStamp</th>
                                    <td>@Html.ValueForModel(alert.AlertType.ToString())</td>
                                    <td>@alert.Message</td>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="Alert Actions">
                                            <a class="btn btn-secondary" asp-action="Read" asp-route-ID="@alert.ID">Mark As Read</a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    @section scripts {
        <script>
            function Handler(event) {
                $('#alertsTable').DataTable();
            }
            (function () {
                'use strict';
                if (Turbolinks.supported) {
                    document.addEventListener('turbolinks:load', Handler, false);
                } else {
                    $(document).ready(Handler);
                }
            })();
        </script>
    }
}
@if (Model.allAlerts.Count() == 0)
{
    <div class="container">
        <div class="text-center">
            <img class="img-fluid mt-3 mb-4" src="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/code_thinking_1jeh.svg" style="max-width: 50%; max-height: 50%;">
            <h3>You got nothing at the moment...</h3>
        </div>
    </div>
}