@model OpsSecProject.ViewModels.InputMachineLearningViewModel
@{
    ViewData["Title"] = "Machine Learning";
}
@if (!String.IsNullOrEmpty(Convert.ToString(TempData["Alert"])) && TempData["Alert"].Equals("Warning") && !String.IsNullOrEmpty(Convert.ToString(TempData["Message"])))
{
    <div class="form-label-group">
        <div class="alert alert-warning" role="alert">
            @TempData["Message"]
        </div>

    </div>
}
@if (!String.IsNullOrEmpty(Convert.ToString(TempData["Alert"])) && TempData["Alert"].Equals("Danger") && !String.IsNullOrEmpty(Convert.ToString(TempData["Message"])))
{
    <div class="form-label-group">
        <div class="alert alert-danger" role="alert">
            @TempData["Message"]
        </div>

    </div>
}
@if (!String.IsNullOrEmpty(Convert.ToString(TempData["Alert"])) && TempData["Alert"].Equals("Success") && !String.IsNullOrEmpty(Convert.ToString(TempData["Message"])))
{
    <div class="form-label-group">
        <div class="alert alert-success" role="alert">
            @TempData["Message"]
        </div>

    </div>
}
<h1 class="h3 mb-2 text-gray-800">Machine Learning</h1>
<p class="mb-4"></p>
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Log Input Details</h6>
        </div>
        <div class="card-body">
            <form>
                <div class="form-group row">
                    <label asp-for="LogInput.ID" class="col-sm-4 col-form-label">Log Input ID</label>
                    <div class="col-sm-8">
                        <input asp-for="LogInput.ID" readonly class="form-control-plaintext" value="@Model.LogInput.ID">
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="LogInput.Name" class="col-sm-4 col-form-label">Log Input Name</label>
                    <div class="col-sm-8">
                        <input asp-for="LogInput.Name" readonly class="form-control-plaintext" value="@Model.LogInput.Name">
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="LogInput.LinkedS3Bucket.Name" class="col-sm-4 col-form-label">S3 Log Input Specific Bucket Name</label>
                    <div class="col-sm-8">
                        <input asp-for="LogInput.LinkedS3Bucket.Name" readonly class="form-control-plaintext" value="@Model.LogInput.LinkedS3Bucket.Name">
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="LogInput.LinkedSagemakerEntities.ElementAt(0).SagemakerStatus" class="col-sm-4 col-form-label">Log Input Sagemaker Status (IP Insights)</label>
                    <div class="col-sm-8">
                        <input asp-for="LogInput.LinkedSagemakerEntities.ElementAt(0).SagemakerStatus" readonly class="form-control-plaintext" value="@Model.LogInput.LinkedSagemakerEntities.ElementAt(0).SagemakerStatus.ToString()">
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="LogInput.LinkedSagemakerEntities.ElementAt(1).SagemakerStatus" class="col-sm-4 col-form-label">Log Input Sagemaker Status (Random Cut Forest)</label>
                    <div class="col-sm-8">
                        <input asp-for="LogInput.LinkedSagemakerEntities.ElementAt(1).SagemakerStatus" readonly class="form-control-plaintext" value="@Model.LogInput.LinkedSagemakerEntities.ElementAt(1).SagemakerStatus.ToString()">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Create Training Job (IP Insights)</h6>
            </div>
            <div class="card-body">
                <form class="needs-validation" novalidate asp-action="TrainingIPInsights">
                    <div class="form-group">
                        <label asp-for="s3InputPath">Relative Path to Training Dataset</label>
                        <input asp-for="s3InputPath" class="form-control" required>
                        <div class="invalid-feedback">
                            Please enter a relative path
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="LogInputID" value="@Model.LogInput.ID" />
                    </div>
                    <button type="submit" class="btn btn-primary formBtnSubmit">Create Training Job</button>
                </form>
            </div>
        </div>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Create Inference Endpoint (IP Insights)</h6>
            </div>
            <div class="card-body">
                <form class="needs-validation" novalidate asp-action="DeployingIPInsights">
                    <div class="form-group">
                        <label asp-for="s3InputPath">Relative Path to Training Dataset</label>
                        <input asp-for="s3InputPath" class="form-control" required>
                        <div class="invalid-feedback">
                            Please enter a relative path
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="LogInputID" value="@Model.LogInput.ID" />
                    </div>
                    <button type="submit" class="btn btn-primary formBtnSubmit">Deploy Model</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Create HyperParameter Tuning Job (IP Insights)</h6>
            </div>
            <div class="card-body">
                <form class="needs-validation" novalidate asp-action="TuningIPInsights">
                    <div class="form-group">
                        <label asp-for="s3InputPath">Relative Path to Training Dataset</label>
                        <input asp-for="s3InputPath" class="form-control" required>
                        <div class="invalid-feedback">
                            Please enter a relative path
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="LogInputID" value="@Model.LogInput.ID" />
                    </div>
                    <button type="submit" class="btn btn-primary formBtnSubmit">Create HyperParameter Tuning Job</button>
                </form>
            </div>
        </div>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Perform Batch Transform (IP Insights)</h6>
            </div>
            <div class="card-body">
                <form class="needs-validation" novalidate asp-action="TransformingIPInsights">
                    <div class="form-group">
                        <label asp-for="s3InputPath">Relative Path to Data</label>
                        <input asp-for="s3InputPath" class="form-control" required>
                        <div class="invalid-feedback">
                            Please enter a relative path
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="LogInputID" value="@Model.LogInput.ID" />
                    </div>
                    <button type="submit" class="btn btn-primary formBtnSubmit">Transform Data</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Create Training Job (Random Cut Forst)</h6>
            </div>
            <div class="card-body">
                <form class="needs-validation" novalidate asp-action="TrainingRandomCutForest">
                    <div class="form-group">
                        <label asp-for="s3InputPath">Relative Path to Training Dataset</label>
                        <input asp-for="s3InputPath" class="form-control" required>
                        <div class="invalid-feedback">
                            Please enter a relative path
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="LogInputID" value="@Model.LogInput.ID" />
                    </div>
                    <button type="submit" class="btn btn-primary formBtnSubmit">Create Training Job</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Create Inference Endpoint (Random Cut Forest)</h6>
            </div>
            <div class="card-body">
                <form class="needs-validation" novalidate asp-action="DeployingRandomCutForest">
                    <div class="form-group">
                        <label asp-for="s3InputPath">Relative Path to Training Dataset</label>
                        <input asp-for="s3InputPath" class="form-control" required>
                        <div class="invalid-feedback">
                            Please enter a relative path
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="LogInputID" value="@Model.LogInput.ID" />
                    </div>
                    <button type="submit" class="btn btn-primary formBtnSubmit">Deploy Model</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Get Inference</h6>
        </div>
        <div class="card-body">
            <form class="needs-validation" novalidate asp-action="Inferencing">
                <div class="form-group">
                    <label asp-for="algoritithmChoice">Choose Algoritithm</label>
                    <select class="custom-select" asp-for="algoritithmChoice" required>
                        <option value="0">IP Insights</option>
                        <option value="1">Random Cut Forest</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select the algoritithm
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="predictionInputContent">Data to predict</label>
                    <textarea asp-for="predictionInputContent" class="form-control" required></textarea>
                    <div class="invalid-feedback">
                        Please enter the data to infer from
                    </div>
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="LogInputID" value="@Model.LogInput.ID" />
                </div>
                <button type="submit" class="btn btn-primary formBtnSubmit">Transform Data</button>
            </form>
        </div>
    </div>
</div>